/*###############Defaults##################*/
nav, header, footer {
    dispaly: block;
}

body
{
    
    line-height: 1;
    margin:0;
}


label{
    font-size: 35px;
    font-weight:600;
    
}

p{
   
    
}

article p{
    
font-size: 20px;
padding:15px;
}
.container

{
    width:100%;
    margin:auto;
    padding-top: 4%;
    padding-bottom: 4%;

}

.row {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.row:after {
    display: table;
    clear: both;
    content: "";
}

.col-1{width: 8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

*
{
    box-sizing: border-box; 
}

/*###############Nav Bar##################*/

nav
{
width:100%;
margin:0;
}

nav ul 
{
background-color:#eee;
overflow: hidden;
margin: 0;
padding: 0;
}

ul.topnav li
{
    float:left;
    list-style: none;
    
}
ul.topnav li.topnav-right
{
    float:right;
}

ul.topnav li a 
{
    text-decoration: none;
    display: block;
    min-height: 16px;
    text-align: center;
    padding:14px;
    text-transform: uppercase;
    color: #666;
}

ul.topnav li a:hover
{
    background-color: #FF1493;
    color:#fff;
}


ul.topnav li.dropdownIcon {
    display: none;
    
}

/*########### Custom styles #############*/

#section-1-gradient
{
    
      background-image: linear-gradient(to bottom right, #FF1493, #FFB6C1);

}

div.box{
    text-align: center;
    margin:24px;
    padding: 36px 24px 20px 24px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15),
    0 2px 3px 0 rgba(0, 0, 0, .1);
    border-radius: 7px;
}

div.flowerIcon {
    
    display:block;
    margin:auto;
    box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, .15),
    2px 2px 17px 2px rgba(0, 0, 0, .1);
}

button {
    
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    background-color: #FF1493;
    padding: 10px 20px;
    margin:5px;
    display: block;
    text-align: center;
    border-radius: 7px;

}

button.learnMore{
    display: block;
    margin: auto;
}

div.icon{
    width:100px;
    margin: auto;
}

div.leftside-col{
    
    margin-left: 15%;
    
}

div.rightside-col{
    
    margin-left: 5%;
    
}

h1.large{
    
    color:#fff;
    font-size: 56px;
    margin:0;
    line-height: 70px;
    
    
}

form h2 {
    
    color: #fff;
}

h1.section2header{
    
    font-size: 50px;
    text-align: center;
}

input[type="text"]{
    
    font-size: 20px;
    width:400px;
    min-width: 100px;
    padding:5px;
    border-radius: 7px;
    
}

footer.footsy{
    
    background-color: #666;
    padding-left: 10%;
}

footer.footsy h1{
    color:#fff;
    font-size:20px;
}


footer.footsy ul{
    
    list-style: none;
    text-align: left;
    padding-left: 0;
    
}

footer.footsy ul li{
    
    color:#fff;
    font-size:13px;
    line-height: 1.5;
}
/*#################Mobile###############*/

@media screen and (max-width:680px) {
    
    ul.topnav li:not(:nth-child(1)){
        
        display: none;
    }
    
    ul.topnav li.dropdownIcon {
        
        display:block;
        float:right;
    }
    
     ul.topnav.responsive li.dropdownIcon{
        position: absolute;
        top: 0;
        right:0;
    }
    
    ul.topnav.responsive {
        
        position: relative;
    }
    
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }
    
    ul.topnav.responsive li a {
        
        display: block;
        text-align: left;
    }
    
    article p{
        font-size: 15px;
    }
    .col-6, 
    .col-4,
    .col-7,
    .col-5{
        width: 100%;
        margin:0;
    }
    
    div.mobilestack{
        
        width:50%;
        display:block;
    }
    
    div.box{
        padding: 5px;
        display: block;
    }
    
    div.leftside-col,
    div.rightside-col{
        margin:15px;
        
    }
    
    input[type="text"]{
        
        width: 350px;
        
    }
    
    .videoContainer iframe {
        
        position: relative;
        width: 100%;
        margin:0;
        overflow: hidden;
    }

}
